

<h1 style="color:blue">
    Azure Cosmos Db
</h1>

<form method="post">
    <button class="btn btn-danger" name="accion" value="start">
        Generar Recursos Cosmos Db
    </button>

</form>

<h1 style="color:red">
    @ViewData["MENSAJE"]
</h1>